/* cabecera modificada  */
.header{
    /* hace que el header se sobreponga por asi decirlo en un capa superior al body  */
    position: absolute;
}
/* parte del header modficicado para el logo  */
.img-logo{
    
    position: absolute;
    /* width: 90px; */

    /* top: 20%; */
    width: 600px ;
    top: 200%;
    transition: .5s ease-out;
}

.img-logo:hover{
    width: 650px;
    top: 180%;
    transition: .5s ease-in-out;
    
}


/* contenido principal de la pagina  */

/* usa flexbox */
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* esto se podia trabajar con grid pero me dio weba xd  */
.main-container{
    width: 35%;
    height: 100vh;
    
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.main-figure{
    /* background-color: aqua; */
    height: 55%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* nota: la imagen debio ser svg, asi que pa la proxima la cambio   */
.img-prueba{
    width: 100%;
}

.main-content-prom{
    width: 100%;
    height: 45%;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    /* border: 5px solid black; */
    padding: 3.5rem;
    gap: 2rem;
 
}
.prom-text{
    
    /* background-color: red; */

    text-align: center;
    text-shadow: 3px 3px 3px #D62420;

    font-family: "Martian Mono", monospace;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    color: black ;
    /* color: white; */
}
.btn-listen{
    text-decoration: none;
    /* border: 2px solid #D62420; */
    border: 2px solid #FFD800;
    color: #FFD800;

    font-size: 18px;
    
    font-family: "Martian Mono", monospace;
    
    background-color: black;
    padding: 1rem;
    transition: .2s ease-in;
    
}
.btn-listen:hover{
    padding: 1.2rem;
    background-color: #FFD800;
    color: black;
    border: 1px solid black;
    transition: .2s ease-in;

    font-family: "Martian Mono", monospace;
    font-weight: 700;
    font-style: normal;
}


.img-top{
    
    width: 40%;

    height: 100vh;

    /* background-color: aqua; */
    background-image: url(../IMAGES/they.png);
    background-position: left;
    /* background-position: center; */

    background-repeat: no-repeat;
    /* background-size: 150%; */

    /* z-index: 50; */

    background-size: cover ;
    transition: .2s ease-in;
}
.img-top:hover{
    background-size: 140%;
    
}
