*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../IMAGES/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
/* banner del menu  */
.header{
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;

    width: 100%;
    height: 110px;

    /* hace que el header se sobreponga por asi decirlo en un capa superior al body  */
    position: absolute;
    

    /* background-color: black; */

    /* hace que el hijo (menu) quede centrado respecto al header */
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 96%;
    height: auto;
    display: flex;

    justify-content: space-between;
    align-items: center;

    
}
.menu-contain{
    list-style: none;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.menu-contain > li{
    padding: 0 .8rem;
}
.menu-link{
    
    color: white;
    text-decoration: none;
    
}
.social-media{
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.social-media a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* clase general para varios links o iconos pegados  */
.item{
    gap: 1rem;
    cursor: pointer;
}

.logo{
    position: relative;
    width: 100%;
    height: 90px;

    display: flex;
    justify-content: center;
}
.img-logo{
    
    position: absolute;
    /* width: 90px; */

    /* top: 20%; */
    width: 600px ;
    top: 200%;
}

/* contenido principal de la pagina  */

/* usar grid para esto  */

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img-top{
    width: 40%;
    height: 100vh;
    /* background-color: aqua; */
    background-image: url(../IMAGES/they.png);
    /* background-position: center left 100px; */
    background-position: center;

    background-repeat: no-repeat;
    background-size: 145%;

    z-index: 50;

    /* background-size: cover; */
}
/* esto debe ser trabajado con grid pero es una prueba de como se vera  */
.pruebaxd{
    width: 60%;
    height: 100vh;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.contenedor-prueba{
    background-color: transparent;
    width: 58%;
    height: 60%;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;

    
}
.img-prueba{
    width: 100%;
}

