*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../IMAGES/fondo.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
/* banner del menu  */
.menu{
    width: 100vw;
    height: 80px;

    padding: 0 20px;

    color: white;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: space-between;   
}
/* contenedor del menu*/
.menu-contain{
    list-style: none;
}
/* separacion estandar de los elementos  */
.item{
    display: flex;
    gap: 15px;
}


.img-logo{
    width: 80px;
}
.img-top{
    width: 50%;
    height: 100vh;
    background-color: aqua;
    background-image: url(../IMAGES/they.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

/* rehacer bien el menu y principalmente poner las clases de manera general y adecuada para los elementos */
