@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    padding: 0;
}
body{
    background-image: url(./IMAGES/fondo.jpg);
    width: fill;
    height: fill;
    background-size: cover;
    background-repeat: no-repeat;
}

/* lo de antes esta todo raro xd  */

/* cambio  */
.header{
    font-weight: 600;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}

.top {

    /* cambio necesario para el header */
    padding: 110px 0;
    display: flex;
    justify-content: center;
  }
  
  .top-image {
   height: 50%;
   width: 50%;
   padding: 50px;
  }
  

.galeria h1{
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea{
    border-top: 10px solid #ecd609;
    margin-bottom: 40px;
}

.contenedor-imagenes{
    display:flex;
    width: 90%;
    
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius:50%;

}

.contenedor-imagenes .imagen{
    width: 32%;
    position: relative;
    height:250px;
    margin-bottom:10px;
    border-radius: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.imagen img{
    width: 100%;
    height:100%;
    object-fit: fill;
    border-radius: 5%;
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background:rgba(255, 209, 2, 0.781) ;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    border-radius: 5%;
}

.overlay h2{
    color: #000000;
    font-weight: 300;
    font-size:30px;
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.imagen:hover .overlay{
    height:100%;
    cursor: pointer;
}
/* logo mayo  */
.logo-m{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    
}
.logo-img-m{
    height: 280px;
    width: 280px;
}

@media screen and (max-width:1000px){
    .contenedor-imagenes{
        width: 95%;
    }
}

@media screen and (max-width:700px){
    .contenedor-imagenes{
        width: 90%;
    }
    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size:22px;
    }
    .contenedor-imagenes{
        width: 98%;
    }
    .contenedor-imagenes .imagen{
        width: 80%;
    }
}